body{
    margin:0;
    font-family: Roboto;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 27px;
    margin-left: 28px;
    margin-right: 150px;
    font-weight: bold;
}

.nav-menu-link{
    display: flex;
    margin: 12px;
    text-decoration: none;
    color: white;
    
}
.nav-menu-item{
    margin: 0px 32px;
}
.contenido{
    margin-block-start: 200px;    
    margin-bottom: 300px;
}
.mapita1{
    border-radius: 22px;
    width: 80%;
    height: 60%;
}
.mapa-inicio{
    height: 420px;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media only screen and (max-width: 1000px){
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        font-size: 26px;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-size: 36px;
        margin-left: 28px;
        margin-right: 150px;
        font-weight: bold;
    }
    .mapa-inicio{
        height: 350px;
        width: 1000px;
    }
    .mapita1{
        border-radius: 22px;
        width: 95%;
        height: 100%;
    }
    

}